.footer {
    background: $darkestGray;
    padding: 40px 0;
    color: $white;
    text-align: left;
    font-size: $xxs;
    font-weight: 500;

    a{
        color:$white;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;

        &:hover {
            color:$lila;
        }
    }

    .redes {
        text-align: right;
        ul {
            li.network {
                display: inline-block;
                padding-right: 10px;
            }
        }
    }

}
