.home-2019 {

    $h: &;


    /*Main Slider*/
    background: #fff;

    &__hero {
        .slick-slider {
            .slick-dots {
                bottom: 20px
            }
        }

        &__slide {
            @include mq(md) {
                display: flex;
            }
        }

        &__image {
            @include mq(md) {
                width: 60%;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__content {
            background: url('/images/home/pattern4.png') center center / cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include mq(md) {
                width: 40%;
            }
        }

        &__wrapper {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 0;

            @include mq(md) {
                padding: 0;
            }
        }

        &__subtitle {
            margin-top: 0;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 14px;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 30px;
            text-align: left;

            @include mq(md) {
                font-size: 54px;
            }
        }

        &__button {
            display: inline-block;
            background: $black;
            padding: 12px 40px;
            color: $white;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 14px;
        }
    }
    /*Section Apuntes*/
    .apuntes {
        $a: &;

        padding: 40px 0 80px 0;

        &__container {
            margin-top: -22px;
            padding-top: 22px;
            border: 1px solid $black;
        }

        &__title {
            position: relative;
            font-size: 24px;
            text-align: left;
            padding-bottom: 20px;
            margin: 0;
            margin-bottom: 20px;

            &:after {
                position: absolute;
                content: '';
                height: 3px;
                background: $black;
                width: 100%;
                bottom: 0;
                left: 0;
            }

            &--alt {
                text-align: center;

                &:after {
                    position: absolute;
                    content: '';
                    height: 3px;
                    background: $black;
                    width: 90%;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &__item {
            margin-bottom: 40px;
            &:hover {
                .apuntes__item-img {
                    img {
                        transform: translateY(-50%) scale(1.1);
                    }
                }
            }

            &__wrapper {
                margin-bottom: 20px;

                @include mq(md) {
                    height: 300px;
                    display: flex;
                }
            }

            &__image {
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 300px;

                @include mq(md) {
                    height: 100%;
                    width: 40%;
                }

                img{
                    @include trans;

                    position: absolute;
                    width: auto;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }

            &__data {
                border-bottom: 1px solid $black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px 0;
                margin-bottom: 20px;

                @include mq(md) {
                    border-top: 1px solid $black;
                    padding: 40px;
                    width: 60%;
                    margin-bottom: 0;

                }

                &-subtitle {
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $black;
                    font-weight: 700;
                    margin: 0;
                }

                &-title {
                    font-weight: 700;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-family: $altFont;
                    color: $black;
                    font-size: 28px;
                    margin: 0;
                    line-height: 1.1;

                    @include mq(md) {
                        font-size: 32px;
                    }

                    small {
                        font-size: 45%;
                        color: $midGray;
                    }
                }

                &-desc {
                    font-size: 18px;
                    font-weight: 300;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    font-family: $altFont;
                    color: $black;
                    margin: 0;
                }

                &-button {
                    margin: 0;
                    position: relative;
                    color: $black;
                    width: 45px;

                    &:after {
                        content: '';
                        position: absolute;
                        border-top: 2px solid $black;
                        border-right: 2px solid $black;
                        transform: rotate(45deg) translateY(-50%);
                        width: 5px;
                        height: 5px;
                        top: 50%;
                        right: 0;
                    }
                }
            }
        }

        &__decoration {
            width: 100%;
            height: 10px;
            margin-bottom: 40px;
            margin-top: 40px;
            background: url('/images/home/line-pattern.png') center center;
        }

        &__more-button {
            background: $black;
            border: none;
            outline: none;
            padding: 10px 40px;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    /*Section Categorias*/
    .categorias {
        &__item {
            margin-bottom: 60px;
            position: relative;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                .categorias__item-img {
                    img {
                        transform: translate3d(-50%, -50%, 0) scale(1.1);
                    }
                }
            }

            &-img {
                width: 100%;
                height: 0;
                overflow: hidden;
                position: relative;
                padding-bottom: 70%;

                img{
                    @include trans;

                    position: absolute;
                    width: 100%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    left: 50%;
                    height: auto;
                }
            }

            &-data {
                background: #fff;
                position: absolute;
                top: 80%;
                width: 95%;
                left: 50%;
                transform: translateX(-50%);

                &-title {
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    font-family: $altFont;
                    line-height: 23px;
                    padding: 0 20px;
                    color: $black;
                    line-height: 1.1;
                    justify-content: center;
                    flex-direction: column;

                    small {
                        display: block;
                        font-size: 50%;
                        color: $midGray;
                    }
                }

                &-category {
                    position: absolute;
                    text-align: center;
                    color: $black;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;
                    top: -15px;
                    background: $lightGray;
                    padding: 5px 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;

                }
            }
        }
    }

    &__bottom-pattern {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}
