.profesionales {
    .breadcrumb {
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 20px;
        p {
            color: $darkGray;
            span {
              &.active {
                  color: #000;
                  font-weight: 600;
                  padding-left: 5px;
              }
            }
        }
    }
    .profesionales__container {
        background-color: #fff;
        text-align: center;
        padding: 50px 0;
        margin-bottom: 30px;

        .profesionales__icon {
            background-color: #c3aa71;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 22px;
            border-radius: 50%;
            color:$darkestGray;
        }

        .profesioanles__title {
            font-size: 30px;
            color:$darkestGray;
        }

        .profesionales__text {
            font-size: 12px;
            font-weight: 300;
            color: $darkGray;
        }

    }
}
