header.header-2019
    .container.header-2019__container
        .header-2019__logo.wow.fadeInDown
            img(src="/images/home/wine-cup-icon.png")
            a(href="/")
                | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-horz"></use></svg> 
        
        .header-2019__hamburguer.wow.fadeInRight
            span
            span
            span

        nav.header-2019__nav
            a.header-2019__nav__close
                span
                span
            ul.header-2019__menu
                each item in site.data.header
                    li
                        a(href=item.url)= item.name
                        if item.submenu
                            ul.header-2019__submenu
                                each link in item.submenu
                                    li
                                        a(href=link.url)= link.name

            .header-2019__social
                a.header-2019__login(href="#")
                    i.material-icons-outlined account_circle
                    | Ingresar
                select.header-2019__language
                    option español
                    option ingles
                ul.header-2019__social__list
                    each red in site.data.social
                        li
                            a(href=red.url, target="_blank")
                                i(class="fa fa-#{red.name}")
                                
                a.header-2019__pro(href="#")
                    img(src="/images/home/barrel-icon.png")
                    p Area bodegas

    .container
        form.header-2019__search
            input.header-2019__search__input(type="text", placeholder="Busca tu vino aquí")
            button.header-2019__search__button
                i.material-icons search
            //- 
            //- a.header-2019__search__advanced(href="/busqueda-avanzada")
            //-     | Búsqueda Avanzada
            //-     i.material-icons arrow_downward
