.header-2019 {

    $h: &;

    position: fixed;
    top:0;
    left:0;
    right:0;
    background: $white;
    z-index: 1000;
    height: 80px;
    padding: 0;

    @include mq(md){
        height: 220px;
        padding: 20px 0;
        position: relative;
    }

    &__container {
        @include mq(md){
            position: relative;
            height: 170px;
        }

        &:after {
            @include mq(md) {
                content: '';
                position: absolute;
                height: 1px;
                background: $black;
                top: 110px;
                left: 0;
                right: 0;
                width: calc(100% - 30px);
                margin-left: 15px;
            }
        }
    }

    &__hamburguer {
        width: 35px;
        padding: 7px 5px;
        position: absolute;
        right:$base/2;
        top:$base/2;
        z-index:5;

        span {
            background: $black;
            display: block;
            height:3px;
            transition: all .5s ease;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        };

        @include mq(md){
            display:none;
        }
    }

    &__logo {
        @include trans;

        height: 80px;
        position: absolute;
        // left: 20px;
        z-index: 10;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include mq(md){
            width: 50%;
            position: relative;
        }

        svg {
            fill: $black;
            width: 200px;
            height: 100%;
            transition: all $duration $easing;
            // top: 10px;

            @include mq(md){
                height: 110px;
                top:0;
                width: 400px;
            }
        }

        img {
            width: auto;
            margin-right: 20px;
            height: 50%;

            @include mq(md) {
                height: 80%;

            }
        }
    }

    &__nav {
       @include trans;

       position: fixed;
       top:0;
       bottom:0;
       right:0;
       width: 100%;
       max-width: 390px;
       background: transparentize($black, .15);
       transform: translateX(100%);
       padding: 0 30px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       z-index: 5;

       @include mq(md){
           padding: 0 50px;
           transform: none;
           position: absolute;
           max-width: none;
           width: 100%;
           flex-direction: row-reverse;
           background: none;
           align-items: flex-end;
       }

       &__close {
           @include close;
           right:24px;
           top:24px;

           @include mq(md){
               left:50px;
               top:30px;
               display: none;
           }
       }
    }

   &__menu {
       margin-bottom: 40px;

       @include mq(md){
           margin-bottom: 10px;
           display: flex;
       }

       li:not(:last-child){
           @include mq(md){
               margin-right: 20px;
           }
       }

       a{
           color:$white;
           font-weight: 700;
           text-transform: uppercase;
           font-size: $xs;
           margin-bottom: 5px;
           display: inline-block;

           @include mq(md){
               font-size: $xs;
               color: $darkestGray;
           }
       }
   }

   &__social {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       width: 100%;

       @include mq(md){
           justify-content: flex-end;
           position: absolute;
           top:0;
           right: 15px;
           width: 400px
       }

       a {
           color: $white;

           @include mq(md){
               color: $darkGray;
           }
       }

       &__list {
           display: flex;
           margin-left: 10px;
           border-left: 1px solid $midGray;
           padding-left: 10px;

           li{
               margin-left: 10px;
           }
       }
   }

   &__login{
       display: flex;
       align-items: center;
       text-transform: uppercase;
       font-size: 12px;

        @include mq(md) {
            font-size: 14px;
        }

       i {
           margin-right: 5px;
       }
   }

   &__language {
       border: none;
       margin-left: 10px;
       border-left: 1px solid $midGray;
       padding-left: 10px;
       text-transform: uppercase;
       font-size: 12px;
       display: flex;
       align-items: center;
       background: none;
       outline: none;
       color: $white;

       @include mq(md) {
           color: $midGray;
            font-size: 14px;
       }
   }

   &__pro {
       flex-basis: 100%;
       display: flex;
       background: $golden;
       justify-content: center;
       align-items: center;
       border-radius: 5px;
       max-width: 300px;
       padding: 20px 0;
       margin-top: 20px;

       @include mq(md){
           color: $white!important;
           max-width: none;
           flex-basis: auto;
           padding: 10px 20px;
       }

       img {
           height: auto;
           width: 20px;
           padding-top: 10px;
           transform: rotate(90deg);
           filter: brightness(0%);
       }

       p {
           margin: 0;
           color: $black;
       }
   }

   &__search {
       position: absolute;
       bottom: -50px;
       width: 100%;
       left: 0;
       background: $golden;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 50px;

       @include mq(md) {
           border-radius: 5px;
           position: static;
           height: 80px;
           width: auto;
           left: auto;
       }

       &:before,
       &:after {
           display: none;
       }

       &__button {
           @include trans;

           color: $golden;
           background: none;
           border: none;
           background: $black;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 50px;
           width: 50px;
           
           @include mq(md) {
               width: 70px;
               height: 80px;
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
           }

           i {
               font-size: 32px;
           }

           &:hover {
               background: transparentize($darkestGray, .9);
           }
       }

       &__input {
           @include trans;

        //    line-height: 41px;
           font-family: $altFont;
           background: $golden;
           color: $black;
           font-weight: 700;
           border: none;
        //    position: relative;
        //    top: -7px;
           box-shadow: none;
        //    border-bottom: 2px solid transparent;
           padding-left: 20px;
           font-size: 20px;
           height: 50px;

           @include mq(md) {
               width: 90%;
               height: 80px;
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
           }

           &:focus {
               outline: none;
               box-shadow: none;
            //    border-bottom: 2px solid $darkGray;
           }

           &::placeholder {
               color: $black;
           }
       }

       &__advanced {
           text-transform: uppercase;
           color: $darkestGray;
           display: flex;
           float: right;
           font-weight: 700;
           font-size: $xxs;
           width: 100px;
           align-items: center;
           height: 50px;

           @include mq(md){
               line-height: 50px;
               width: auto;
           }

           i {
               font-size: 18px;
               line-height: 46px;
               margin-left: 5px;
           }
       }
   }

    &.-open {
        #{$h}__nav{
            transform: translateX(0);
        }

        #{$h}__hamburguer{
            opacity: 0;
        }
    }
}
