extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.acerca
        div.acerca__banner.container-fluid
            h2.wow.fadeInUp.acerca__banner-title Acerca de Descorchados
            p.wow.fadeInUp.about__banner-text Lorem ipsum dolor amet

        div.acerca__content.container
            .row
                .col-xs-24.col-sm-20.col-md-16.col-sm-offset-2.col-md-offset-4
                    p.wow.fadeInUp Esa luz. Radiante, fresca, como si vibrara sobre los ojos. El sol en las alturas del Valle de Uco ilumina de una forma especial, como si primero reflejara sus rayos sobre la nieve, allá arriba en la cordillera, y después bajara rebotando alegremente hasta las laderas andinas, cargado de energía. Cuando se habla de lo espectacular del paisaje de Mendoza, necesariamente habría que partir por esa luz.
                    p.wow.fadeInUp Esa luz y después los picos cordilleranos que cortan el horizonte como lo haría una navaja oxidada. Y las brisas que hacen que todo ese sol sea más llevadero y las aguas frescas que se deslizan desde Los Andes y la vegetación de espinos que, de tanto en tanto, se interpone entre los suelos de arenas y piedras blancas. Y las flores que crecen vaya uno a saber con qué agua. Y los valles, más abajo, flaqueando los ríos y finalmente la ciudad de Mendoza, con un verdor tan fresco como inesperado.
                    p.wow.fadeInUp Estamos en un desierto. Las lluvias son escasas. No superan los 200 milímetros anuales, muy poco para cultivar viñedos de secano. El secreto ha sido, históricamente, los deshielos de Los Andes que bajan como ríos todo el año. Pero también la más reciente tecnología del riego por goteo y los profundos pozos que permiten, entre otras cosas, que las zonas más altas (y nuevas) del  Valle de Uco se vuelva verdes y den vinos.
                    p.wow.fadeInUp Me gusta Mendoza. Me siento bien allí. Me gusta ver a través de la ventana o caminando entre los viñedos cómo la Cordillera siempre está presente; un monstruo enorme y de diseño apoteósico, mirando desde lo lejos, con sus frías brisas haciendo que todo cambie, tanto el paisaje como los vinos. Sobre todo los vinos, pero también los tomates (entre los mejores tomates del mundo, si me lo permiten) y las lechugas y los ajos y, por cierto, también las truchas que deben ser el secreto mejor guardado y más injustamente olvidado en una tierra de carnívoros con una sed interminable por el asado.

                    img.img-responsive.wow.fadeInUp(src="/images/acerca/acerca.jpg")
                    span.caption.wow.fadeInUp Patricio Tapia, fundador de Descorchados

                    p.wow.fadeInUp Esa es la tierra de los mejores malbec de Argentina. Algo más del 70% del vino argentino se produce en Mendoza y algo más del 85% del malbec, así es que –siendo rigurosos- para hablar de malbec habría que partir por las tierras cuyanas que es la que mayor diversidad ofrece con la cepa y también la que más ha profundizado en sus cualidades. Para ponerlo de forma resumida, no hay sólo hay un malbec mendocino, sino que muchos. Cada vez más.
                    p.wow.fadeInUp Viajo por el vino a Mendoza desde más o menos 1997 y he tenido el privilegio de ver cómo las cosas han cambiado. Tal como en otras zonas vitícolas del Nuevo Mundo (y del viejo también) los estilos han mutado de una forma, muchas veces, radical. En la breve pero intensa historia del malbec mendocino, se ha pasado desde vinos hechos de manera brutal, tintos producidos para impresionar por su dulzor, por su porte, por la cantidad de madera que se usó en ellos, hasta las últimas versiones más ligeras y frescas, más bebibles; tintos que –como debe ser- están diseñados para refrescar la comida. Y aunque se puede decir lo mismo del cabernet sauvignon chileno y hasta del tannat uruguayo, el caso del malbec es especial.

                    h2.wow.fadeInUp Una ventana abierta
                    p.wow.fadeInUp Entre las muchas conversaciones que tuve con enólogos argentinos para la producción de esta versión de Descorchados, recuerdo lo que me dijo Mariano di Paola, de Bodegas Rutini en el Valle de Uco. En un momento, hace algunos años y probando sus vinos -me cuenta- se percató de que todos se parecían, que en una cata a ciegas no fue capaz de reconocerlos, que todos sabían y olían muy parecidos. Di Paola atribuye este asunto a la sobre madurez, a la tendencia en el vino argentino (y en especial en el malbec) a dejar las uvas colgando de la parra por demasiado tiempo, con el objeto de lograr ese dulzor que, según nos han contado hasta el hartazgo, es lo que el consumidor quiere, lo que el consumidor busca.
                    p.wow.fadeInUp Una buena parte del éxito que ha tenido e`l malbec en los mercados internacionales es probable que se deba a esa aptitud del malbec por crear vinos opulentos y a la vez suaves, de “taninos dulces” como suelen decir los productores mendocinos. Vinos que a la vez son redondos y suculentos. Por las mismas razones, el syrah tuvo tanto éxito en los años 90: “Como un cabernet, pero sin el dolor de los taninos” se dijo, quizás generalizando demasiado.
