extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.acerca
        div.acerca__banner.container-fluid
            h2.acerca__banner-title Acerca de Descorchados
            p.about__banner-text Lorem ipsum dolor amet

        div.acerca__content.container
            p   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit egestas tortor sit amet mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt fringilla nunc. Curabitur in rhoncus lectus. Praesent laoreet ultrices ligula eu dictum. Cras bibendum finibus turpis, id varius elit sagittis tristique. Nullam sem est, dapibus eget elit sed, malesuada viverra nibh. Donec pulvinar felis eu libero finibus, in hendrerit felis mattis. Proin tempor tincidunt convallis. Proin porta neque neque, in posuere felis blandit sed. Praesent malesuada ullamcorper nisl mollis porta. Duis vel nisl et libero hendrerit luctus quis quis enim.
            p   Aenean dignissim fringilla nulla et condimentum. Integer interdum nulla ultrices consectetur sollicitudin. Nulla id iaculis lectus, et egestas eros. Suspendisse in gravida leo, et eleifend tortor. Ut venenatis neque vel velit egestas tincidunt. In hac habitasse platea dictumst. Nam non sollicitudin neque. In rhoncus libero ut vulputate sagittis. Donec suscipit ultricies mauris. Duis sed diam erat. Morbi eu diam nisl.
            p   Nam semper nisi mauris, a sagittis urna scelerisque non. Etiam fringilla purus turpis, ac vestibulum purus volutpat at. In sodales, nunc pharetra suscipit aliquet, nulla magna pretium felis, sed sodales leo est sit amet odio. Proin neque est, maximus id scelerisque et, maximus eu mi. Maecenas ullamcorper consequat mauris vitae ullamcorper. Mauris ornare ultricies lectus nec dignissim. Cras efficitur lacinia quam, sit amet placerat purus vulputate non. Suspendisse dignissim lacus eu ligula aliquet lobortis. Duis sagittis nunc id scelerisque faucibus. Vivamus quis tortor nulla.
            p   Cras ex magna, efficitur ac commodo nec, venenatis vel mauris. In blandit sodales neque, quis sollicitudin metus scelerisque quis. Ut pellentesque posuere condimentum. Integer volutpat mauris est, non eleifend metus ornare sed. Donec vehicula purus eu iaculis semper. Nullam sodales diam non elit rutrum, sed congue velit rutrum. Phasellus a diam massa. Ut et ex vulputate, bibendum metus eu, ultrices urna. Integer pretium dignissim accumsan. Maecenas consequat libero nisi. Sed ullamcorper sem justo, laoreet fringilla lectus fringilla non. In convallis aliquam vulputate. Praesent fermentum dignissim tortor vel luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean rhoncus lacinia elementum.

            img(src="/images/acerca/acerca.jpg")

            p   Nam semper nisi mauris, a sagittis urna scelerisque non. Etiam fringilla purus turpis, ac vestibulum purus volutpat at. In sodales, nunc pharetra suscipit aliquet, nulla magna pretium felis, sed sodales leo est sit amet odio. Proin neque est, maximus id scelerisque et, maximus eu mi. Maecenas ullamcorper consequat mauris vitae ullamcorper. Mauris ornare ultricies lectus nec dignissim. Cras efficitur lacinia quam, sit amet placerat purus vulputate non. Suspendisse dignissim lacus eu ligula aliquet lobortis. Duis sagittis nunc id scelerisque faucibus. Vivamus quis tortor nulla.
            p   Cras ex magna, efficitur ac commodo nec, venenatis vel mauris. In blandit sodales neque, quis sollicitudin metus scelerisque quis. Ut pellentesque posuere condimentum. Integer volutpat mauris est, non eleifend metus ornare sed. Donec vehicula purus eu iaculis semper. Nullam sodales diam non elit rutrum, sed congue velit rutrum. Phasellus a diam massa. Ut et ex vulputate, bibendum metus eu, ultrices urna. Integer pretium dignissim accumsan. Maecenas consequat libero nisi. Sed ullamcorper sem justo, laoreet fringilla lectus fringilla non. In convallis aliquam vulputate. Praesent fermentum dignissim tortor vel luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean rhoncus lacinia elementum.
