extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.profesionales
        div.breadcrumb.container
            p inicio >
                span.active Area Profesionales
        .container
            .row
                .col-xs-24.col-md-12.profesionales__container.position-left
                    i.profesionales__icon.fa.fa-calendar-check-o
                    h2.profesioanles__title Inscripción a Eventos
                    p.profesionales__text Inscribe tu bodega a los próximos eventos.

                .col-xs-24.col-md-12.profesionales__container
                    i.profesionales__icon.fa.fa-star
                    h2.profesioanles__title Certificados
                    p.profesionales__text Obten certificado de tus vinos.

            .row
                .col-xs-24.col-md-12.profesionales__container.position-left
                    i.profesionales__icon.fa.fa-youtube-play
                    h2.profesioanles__title Media Center
                    p.profesionales__text Todo el contenido multimedia de descorchados.

                .col-xs-24.col-md-12.profesionales__container
                    i.profesionales__icon.fa.fa-glass
                    h2.profesioanles__title Envía tus vinos
                    p.profesionales__text Enviar tus vinos a descorchados.